<%- include('partials/header'); -%>

<header>
  <div class="smoothie">
    <img src="/pradinis.jpg" alt="">
  </div>
  <div class="headings">
    <h2>Kepyklėlė</h2>
    <h3>Tortai visiems skoniams</h3>
    <a href="/smoothies" class="btn">Pasirinkimas</a>
  </div>
</header>


<%- include('partials/footer'); -%>