<%- include('partials/header'); -%>

<ul class="recipes">
  <li class="recipe">
    <img src="/1.jpg" alt="smoothie recipe icon">
    <h4>Vaikiškas tortas</h4>
    <p>Šilauogių tortas</p>
  </li>
  <li class="recipe">
    <img src="/2.jpg" alt="smoothie recipe icon">
    <h4>Vestuvinis</h4>
    <p>Medučio tortas</p>
  </li>
  <li class="recipe">
    <img src="/3.jpg" alt="smoothie recipe icon">
    <h4>Šunyčiai patruliai</h4>
    <p>Avietinis tortas</p>
  </li>
  <li class="recipe">
    <img src="/4.jpg" alt="smoothie recipe icon">
    <h4>Jack Daniel's</h4>
    <p>Napoleonas</p>
  </li>
  <li class="recipe">
    <img src="/5.jpg" alt="smoothie recipe icon">
    <h4>Pakalikai</h4>
    <p>Šokoladinis tortas</p>
  </li>
  <li class="recipe">
    <img src="/6.jpg" alt="smoothie recipe icon">
    <h4>Coco Melon</h4>
    <p>Nutela tortas</p>
  </li>
</ul>

<%- include('partials/footer'); -%>